<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="在线工具">
    <meta name="author" content="lightxue">
    <link rel="icon" href="/static/image/favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <link href="/static/lib/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">

    {% endblock %}
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-md-0 main" id="main">
          <div class="col-sm-8 col-md-8 col-md-offset-2" id="tool">
            {% block tool %}{% endblock %}
          </div>
        </div>
        <div class="col-sm-3 col-md-2 col-md-offset-8  sidebar" id="treeview">
        </div>
      </div>
    </div>

    <!--button-copy template -->
    <script type="text/x-template" id="button-copy-template">
      <button class="btn btn-default btn-copy" @click="copy">
        复制
      </button>
    </script>

    <script type="text/javascript" data-main="/static/js/app" src="/static/lib/requirejs/2.1.20/require.js"></script>
  </body>
</html>
